<a href="https://colab.research.google.com/github/Sachinvt/Sachinvt/blob/main/ABCAT2_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def find_additional_id(array1, array2):
    # Convert the arrays to sets for efficient operations
    set1 = set(array1)
    set2 = set(array2)

    # Find the additional ID by performing set difference
    additional_id = set2 - set1

    return additional_id

# Input
array1 = list(map(int, input().split()))
array2 = list(map(int, input().split()))

# Find the additional ID
additional_id = find_additional_id(array1, array2)

# Output
print("Additional ID:", *additional_id)

1 4 7 3
1 2 3 4 5 6 7
Additional ID: 2 5 6

In [2]:
def numeric_to_alphabetic(barcode):
    # Dictionary mapping each digit to its corresponding alphabetic character
    digit_to_alpha = {
        '0': 'a', '1': 'b', '2': 'c', '3': 'd', '4': 'e',
        '5': 'f', '6': 'g', '7': 'h', '8': 'i', '9': 'j'
    }

    # Convert the numeric barcode to a string
    barcode_str = str(barcode)

    # Convert each digit to its corresponding alphabetic character
    alphabetic_code = ''.join(digit_to_alpha[digit] for digit in barcode_str)

    return alphabetic_code

# Input
barcode = int(input())

# Find the alphabetic product code
alphabetic_code = numeric_to_alphabetic(barcode)

# Output
print("Alphabetic Product Code:", alphabetic_code)

12403
Alphabetic Product Code: bcead

In [3]:
def count_difference_char(S,T):
  count = 0
  for i in range(len(S)):
    if S[i] != T[i]:
      count += 1
  return count

s = input().strip()
t = input().strip()
result = count_difference_char(s,t)
print(result)

doselect
doseeesd
3

In [4]:
def solution(S,T):
  count = 0
  for i in range(len(S)):
    if S[i] != T[i]:
      count += 1
  return count

if __name__ == '__main__':
  S = input()

  T = input()

  result = solution(S,T)

  print(str(result))

doselect
doseeesd
3

In [5]:
def find_first_non_repeated_char(s):
  char_count = {}

  for char in s:
    char_count[char] = char_count.get(char, 0)+1

  for char in s:
    if char_count[char]==1:
      return char
  return "not found"

s = input().strip()
result = find_first_non_repeated_char(s)
print(result)

aabbcc
not found

In [6]:
def mul(A,B):
  A = int(A)
  B = int(B)
  C = A*B
  return str(C)

A = input().strip()
B = input().strip()
result  = mul(A,B)
print(result)

5
5
25

In [7]:
def reverse_number(num):
    reversed_num = ''
    num_str = str(num)
    reversed_num = num_str[::-1]
    return reversed_num

# Input
num = int(input().strip())

# Reverse the number
reversed_num = reverse_number(num)

# Output
print(reversed_num)

534750
057435

In [8]:
import re

def find_n_lettered_words(sentence, n):
    # Check if the sentence contains at least three words
    words = sentence.split()
    if len(words) < 3:
        print("Too Less Number of Words Entered")
        return

    # Use regular expression to find words with length n
    pattern = r'\b\w{%d}\b' % n
    n_lettered_words = re.findall(pattern, sentence)

    # Print the found words
    for word in n_lettered_words:
        print(word)

# Input
sentence = input().strip()
n = int(input().strip())

# Find and print N-lettered words
find_n_lettered_words(sentence, n)

are you
4
Too Less Number of Words Entered

In [9]:
import pandas as pd
import numpy as np

# Step 1: Parse input into a list of integers
input_list = list(map(int, input().split()))

# Step 2: Create Pandas Series
series = pd.Series(input_list)

# Step 3: Calculate difference between consecutive elements
diff_series = series.diff()

# Step 4: Calculate difference of the difference
diff_of_diff_series = diff_series.diff()

# Print the results
print(diff_series.tolist())
print(diff_of_diff_series.tolist())

2 4 6 8 10 12 14 16
[nan, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0]
[nan, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

SQL- TBL_Adoptions

In [ ]:
SELECT Adopter_Email AS Email, COUNT(*) AS CountofAdoptedPets
FROM TBL_Adoptions
GROUP BY Adopter_Email
HAVING COUNT(*) > 1
ORDER BY CountofAdoptedPets DESC;

SQL- Product Order Repetition

In [ ]:
SELECT Order_Day, Product_Id
FROM Product_Order
GROUP BY Order_Day, Product_Id
HAVING COUNT(*) > 1;

SQL- Department with less than 5 employees

In [ ]:
SELECT
    D.Department AS Department_Name,
    COUNT(E.EmpID) AS Number_of_Employees
FROM
    TBL_Department D
LEFT JOIN
    TBL_Employee E ON D.ID = E.Department
GROUP BY
    D.Department
HAVING
    Number_of_Employees < 5
ORDER BY
    Department_Name ASC;

SQL-Create Table

In [ ]:
CREATE TABLE StudentDetails (
    id varchar(10) PRIMARY KEY,
    name varchar(30) NOT NULL,
    mobileno varchar(10) UNIQUE,
    class varchar(5)
);

INSERT INTO StudentDetails (id, name, mobileno, class)
VALUES
    ('01', 'ABC', '9234567890', 'VII'),
    ('02', 'ABCDE', '9876543212', 'VI');

SQL-Highest Average Invoice

In [ ]:
SELECT
    BillingCity AS Cities,
    AVG(Total) AS AverageInvoiceTotal
FROM
    Invoice
GROUP BY
    BillingCity
ORDER BY
    AverageInvoiceTotal DESC, BillingCity ASC
LIMIT
    10;