<a href="https://colab.research.google.com/github/Sachinvt/Sachinvt/blob/main/coding_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Find Items starts with char

In [ ]:
def start_with_char(lst,char):
  return [ i for i in lst if i.startswith(char)]

lst = eval(input())
char = input()
print(start_with_char(lst,char))

['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']
a
['abcd', 'abc', 'acjd']

Next Prime Number

In [ ]:
def nextPrime(n):
  p = n+1
  for i in range(2,p):
      if (p%i ==0):
        p+=1
  else:
        print('The next prime number', n, 'is:', p)

n = int(input())
print(nextPrime(n))

48
The next prime number 48 is: 53
None

Largest Negative & Smallest Positive numbers

In [ ]:
def test(nums):
  pos = [n for n in nums if n>0]
  neg = [n for n in nums if n<0]
  return [max(neg) if neg else 0, min(pos) if pos else 0]

lst = eval(input())
print(test(lst))

[-12, -6, 300, -40, 2, 2, 3, 57, -50, -22, 12, 40, 9, 11, 18]
[-6, 2]

In [ ]:
def test(nums):
    pos = [n for n in nums if n > 0]
    neg = [n for n in nums if n < 0]
    return [max(neg) if neg else 0, min(pos) if pos else 0]

nums=eval(input())
print(test(nums))

[-12, -6, 300, -40, 2, 2, 3, 57, -50, -22, 12, 40, 9, 11, 18]
Largest negative and smallest positive numbers (or 0 if none) of the said list:
[-6, 2]

Remove Duplicates in String

In [ ]:
def removeDuplicates(str):
  s = ''
  l = str.lower()
  for i in l:
    if i not in s:
      s+=i
  return s

st1 = input()
print(removeDuplicates(st1))

python exercises practice solution
python exrcisalu

Using lambda items starts with char

In [ ]:
s = input()
char = input()
start_with = (lambda x: 'True' if x.startswith(char) else 'False')
print(start_with(s))

Java
J
True

Find Euclidian Distance

In [ ]:
x1,y1 = 6,7
x2,y2 = 5,4
Ecli_dist = ((x2-x1)**2 + (y2-y1)**2)**0.5
print(Ecli_dist)

3.1622776601683795

Remove char from string

In [ ]:
str = input()
strl = str.lower()
ch = input()
chl = ch.lower()
print(strl.replace(chl,''))

Almabetter
t
almabeer

Find Last Position of Substring

In [ ]:
str1 = input()
substr = input()
index = str1.rfind(substr)
print("The last occurence of", substr, 'is at',index)

Emma is a data scientist who knows Python. Emma works at google.
Emma
The last occurence of Emma is at 43

Common List

In [ ]:
lst1 = eval(input())
lst2 = eval(input())
common_list = list(set(lst1) & set(lst2))
print(common_list)

["Red", "Green", "Orange", "White"]
["Black", "Green", "White", "Pink"]
['Green', 'White']

String Palindrome

In [ ]:
def is_palindrome(str):
  if str == str[::-1]:
    return "The String is Palindrome"
  return "The string is not palindrome"

str = input()
print(is_palindrome(str))

madam
The String is Palindrome

Round Decimal

In [ ]:
n1 = float(input())
n2 = int(input())
print(round(n1,n2))

10.5678
2
10.57

Even or Odd number check

In [ ]:
n = int(input())
if n>0 and n%2==0:
  print("The number is even")
else:
  print('The number is odd')

1
The number is odd

Sum and check the digit length

In [ ]:
n1 = int(input())
n2 = int(input())
if n1>=10**80 or n2>=10**80 or n1+n2>=10**80:
  print("Overflow!")
else:
  print(n1+n2)

22
25
47

Remove specified index value

In [ ]:
lst = eval(input())
lst = [x for (i,x) in enumerate(lst) if i not in [0,4,5]]
print(lst)

['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
['Green', 'White', 'Black']

Largest element of list

In [ ]:
def max_num(lst):
  max = lst[0]
  for a in lst:
    if a>max:
      max = a
  return max

lst = eval(input())
print(max_num(lst))

[1, 2, -8, 0]
2

Print every nth element

In [ ]:
lst = eval(input())
n = int(input())
print(lst[n-1::n])

1,2,3,4,5,6,7,8,9,10
2
(2, 4, 6, 8, 10)

Solve equation with two variables

In [ ]:
x = float(input())
y = float(input())
z = (x+y)*(x+y)
print(z)

4
3
49.0

Largest element of list

In [ ]:
def largest_elemn(lst):
  max = lst[0]
  for a in lst:
    if a>max:
      max=a
  return max

lst = eval(input())
print(largest_elemn(lst))

[1, 2, -8, 0]
2

Difference between two lists

In [ ]:
L1 = eval(input())
L2 = eval(input())
difference_1 = set(L1).difference(set(L2))
difference_2 = set(L2).difference(set(L1))
print("L1-L2:", sorted(difference_1))
print("L2-L1:", sorted(difference_2))

["red", "orange", "green", "blue", "white"]
["black", "yellow", "green", "blue"]
L1-L2: ['orange', 'red', 'white']
L2-L1: ['black', 'yellow']

Insert string at beginning

In [ ]:
lst = eval(input())
string = "emp"
print([string +'{0}'.format(i) for i in lst])

1,2,3,4,5,6
['emp1', 'emp2', 'emp3', 'emp4', 'emp5', 'emp6']

Get Murphy Registered for Doga

In [ ]:
h_age = int(input())
d_age = 0
if h_age <=2 and h_age >=0:
  d_age = h_age*10.5
else:
  d_age = 21 + (h_age-2)*4
print(d_age)

1
10.5

Test of English Language

In [ ]:
ch = input()
if ch in ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']:
  print("Vowel")
else:
  print("Consonant")

e
Vowel

Pattern formation

In [ ]:
n = int(input())
for i in range(1,n+1):
  print(str(i)*i)

4
1
22
333
4444

Reschedule the meeting to next date

In [ ]:
date_input = input()
year, month, day = map(int, date_input.split())

if (year % 400 == 0):
    leap_year = True
elif (year % 100 == 0):
    leap_year = False
elif (year % 4 == 0):
    leap_year = True
else:
    leap_year = False

if month in (1, 3, 5, 7, 8, 10, 12):
    month_length = 31
elif month == 2:
    if leap_year:
        month_length = 29
    else:
        month_length = 28
else:
    month_length = 30

if day < month_length:
    day += 1
else:
    day = 1
    if month == 12:
        month = 1
        year += 1
    else:
        month += 1

print("The next date is [yyyy-mm-dd] %d-%d-%d." % (year, month, day))

2001 12 31
The next date is [yyyy-mm-dd] 2002-1-1.

Sum and Avg of list

In [ ]:
count = 0
sum = 0.0
number = input().split()

while number !=0:
  number = int(input())
  sum = sum + number
  count+=1

if count==0:
  print("Input some numbers")
else:
  print("The Average and sum of gicen numbers is:", sum/(count-1), sum)

1 2 4 5 6
12
123
4
5
6
0
The Average and sum of gicen numbers is: 30.0 150.0

Swap two numbers

In [ ]:
a = int(input())
b = int(input())
print("The value of a is:", a)
print("The value of b is:", b)
a = a-b
b = a+b
a = b-a
print("After swapping:")
print("The value of a is:", a)
print("The value of b is:", b)

2
9
The value of a is: 2
The value of b is: 9
After swapping:
The value of a is: 9
The value of b is: 2

Perfect Number

In [ ]:
num = int(input())
sum = 0

for i in range(1,(num//2)+1):
  remainder = num%i
  if remainder ==0:
    sum +=i
if sum == num:
  print("The number is perfect")

else:
  print("The number is not perfect")

1234
The number is not perfect

Change position

In [ ]:
lst = eval(input())
l = len(lst)
lstn = []
for i in range(0,l-1,2):
  lstn.append(lst[i+1])
  lstn.append(lst[i])
print(lstn)

[1, 0, 3, 2, 5, 4]
[0, 1, 2, 3, 4, 5]

Difference between two lists

In [ ]:
L1 = eval(input())
L2 = eval(input())

difference_1 = list(set(L1).difference(set(L2)))
difference_2 = list(set(L2).difference(set(L1)))
print("L1-L2:", difference_1)
print("L2-L1:", difference_2)

["red", "orange", "green", "blue", "white"]
["black", "yellow", "green", "blue"]
L1-L2: ['orange', 'red', 'white']
L2-L1: ['black', 'yellow']

Find Tuple with smallest index

In [ ]:
x = eval(input())
print(min(x,key=lambda n:(n[1],-n[0])))

[(4, 1), (1, 2), (6, 0)]
(6, 0)

Biggest even number

In [ ]:
m = int(input())
n = int(input())

if m > n or (m==n and m%n ==1):
  print("-1")
if n%2 ==0:
  print(n)
else:
  print(n-1)

20
51
50

Numbers below threshold

In [ ]:
def test(nums,thesh):
  return [i for i,n in enumerate(nums) if n < thresh]

nums = eval(input())
thresh = int(input())
print(test(nums,thresh))

[0, 12, 45, 3, 4923, 322, 105, 29, 15, 39, 55]
100
[0, 1, 2, 3, 7, 8, 9, 10]

Remove NONE

In [ ]:
def remove_none(lst):
  return [x for x in lst if x is not None]

lst = eval(input())
print(remove_none(lst))

[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
[12, 0, 23, -55, 234, 89, 0, 6, -12]

Indexes of None

In [ ]:
def index_none(lst):
  return [x for x in range(len(lst)) if lst[x] ==None]

lst = eval(input())
print(index_none(lst))

[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
[2, 4, 8]

Remove specific word

In [ ]:
def test(word,remove_word):
  return [word for word in word if word not in remove_word]

word = eval(input())
remove_word = eval(input())
print(test(word,remove_word))

['red', 'green', 'blue', 'white', 'black', 'orange']
['white', 'orange']
['red', 'green', 'blue', 'black']

Count the Characters

In [ ]:
str1 = input()
d = {}
for char in str1:
  char = char.lower()
  if char in d:
    d[char] +=1
  else:
    d[char] = 1
print(d)

Shraddha
{'s': 1, 'h': 2, 'r': 1, 'a': 2, 'd': 2}

Using lambda find items begin with char

In [ ]:
s = input()
ch = input()
starts_with = lambda s,ch:s.startswith(ch)
result = starts_with(s,ch)
print(result)

Sachin
s
False

Harmonical Sum

In [ ]:
n = int(input())
harmonic_sum = 0
for i in range(1,n+1):
  harmonic_sum += 1/i
print(harmonic_sum)

7
2.5928571428571425

Mingle to Single

In [ ]:
n = int(input())
step_count = 1

while n >= 10:
    step_sum = 0
    while n > 0:
        step_sum += n % 10
        n //= 10

    print(f"Step-{step_count} Sum: {step_sum}")

    n = step_sum
    step_count += 1

    print(f"Step-{step_count} Sum: {step_sum}")

7458
Step-1 Sum: 24
Step-2 Sum: 24
Step-2 Sum: 6
Step-3 Sum: 6

Words of Prime Importance

In [ ]:
strs = input()
def test(strs):
  return " ".join(strs for strs in strs.split() if is_prime(len(strs)))
def is_prime(n):
  return n > 0 and all(n % j for j in range(2,int(n** 0.5)+1))
print(test(strs))

The quick brown fox jumps over the lazy dog.
The quick brown fox jumps the

Check prime number

In [ ]:
def is_prime(n):
  if n < 2:
    return False
  for i in range(2,int(n**0.5)+1):
    if n % i ==0:
      return False
  return True

n = int(input())
print(is_prime(n))

3
True

Find closest palindrome

In [ ]:
def is_palindrome(s):
  return s == s[::-1]

def closest_palindrome(string):
  if is_palindrome(string):
    return string

  n = len(string)
  mid = n // 2

  left = string[:mid]
  right = left[::-1]

  if n % 2 ==0:
    closest = left + right
    if closest > string:
      return closest
    else:
      left_rev = left[::-1]
      closest = left + left_rev
      return closest
  else:
    center = string[mid]
    closest = left + center + right
    if closest > string:
      return closest
    else:
      left_rev = left[::-1]
      closest = left + center + left_rev
      return closest

s = input()
print(closest_palindrome(s))

madam
madam

Print space between characters

In [ ]:
def generate_spaced_string(char_count):
  spaced_string = " ".join([char for char, count in char_count.items() for _ in range(count)])
  return spaced_string

s = eval(input())
print(generate_spaced_string(s))

{"f": 1, "o": 2}
f o o

Strange sort

In [ ]:
def strang_sort(numbers):
  sorted_list = []
  sorted(numbers)

  while numbers:
    sorted_list.append(numbers.pop(0))

    if numbers:
      sorted_list.append(numbers.pop(-1))

  return sorted_list

lst = eval(input())
print(strang_sort(lst))

[1, 3, 4, 5, 11]
[1, 11, 3, 5, 4]

Mails by Mary

In [ ]:
fname = input()
lname = input()
greetings ="Hello {} {}".format(lname,fname)
print(greetings)

sachin
thorat
Hello thorat sachin

Python Problem

In [ ]:
x = int(input())
y = int(input())
z = (x+y)**2
print(z)

4
3
49

Sum between 15 to 20

In [ ]:
def sum_two(x,y):
  sum = x + y
  if sum in range(15,20):
    return 20
  else:
    return sum

n1 = int(input())
n2 = int(input())
print(sum_two(n1,n2))

20
23
43

Calculate BMI

In [ ]:
height = float(input())
weight = float(input())
BMI = round(weight/(height*height),2)
print(BMI)

6
65
1.81

Check positive, negative or zero

In [ ]:
num = float(input())
if num >0:
  print("The number is positive")
elif num ==0:
  print("It is Zero")
else:
  print("The number is negative")

1.9
The number is positive

Sum and check the digit length

In [ ]:
x = int(input())
y = int(input())
if x >= 10**80 or y >= 10**80 or x+y >= 10**80:
  print("Overflow!")
else:
  print(x+y)

10
12
22

Sum and check the digit length

In [ ]:
x = int(input())
y = int(input())
if x >= 10**80 or y >= 10**80 or x+y >= 10**80:
  print("Overflow!")
else:
  print(x+y)

100000
87654328987654321
87654328987754321

Sum of elements of list

In [ ]:
def sum_lst(lst):
  sum = 0
  for x in lst:
    sum +=x
  return sum

lst = eval(input())
print(sum_lst(lst))

1,2,3,5.7
11.7

Product of list elements

In [ ]:
def multiply_lst(items):
  a = 1
  for x in items:
    a*=x
  return a

items = eval(input())
print(multiply_lst(items))

1,2,-8
-16

Check positive, negative or zero

In [ ]:
n = int(input())
if n >0:
  print("The number is positive")
elif n ==0:
  print("It is Zero")
else:
  print("The number is negative")

1
The number is positive

Whether the string is pangram or not

In [ ]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
  alphaset = set(alphabet)
  return alphaset <= set(str1.lower())

str1 = input()
print(ispangram(str1))

"The Sachin is a gold"
False

Function for pascal's triangle

In [ ]:
def generate_pascal_triangle(n):
  result = []
  for i in range(n):
    row = [1]*(i+1)
    for j in range(1,i):
      row[j] = result[i-1][j-1] + result[i-1][j]
    result.append(row)

  for row in result:
    print(row)

n = int(input())
generate_pascal_triangle(n)

4
[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]

remove odd index character

In [ ]:
def remove_odd_index(str1):
  result = ''
  for i in range(len(str1)):
    if i % 2 ==0:
      result = result + str1[i]
  return result

str1 = input()
print(remove_odd_index(str1))

data science
dt cec

Remove Even index

In [ ]:
def remove_even_index(str1):
  result = ''
  for i in range(len(str1)):
    if i % 2 !=0:
      result = result + str1[i]
  return result

str1 = input()
print(remove_even_index(str1))

data science
aasine

Convert user input into upper case

In [ ]:
def convert_upper(str1):
  result = ''
  for i in range(len(str1)):
    result = str1.upper()
  return result

str1 = input()
print(convert_upper(str1))

programming
PROGRAMMING

Convert user input into lower case

In [ ]:
def convert_lower(str1):
  result = ''
  for char in str1:
    result = str1.lower()
  return result

str1 = input()
print(convert_lower(str1))

PROGRAMMING
programming

Function to calculate factorial

In [ ]:
def calculate_fact(n):
  if n ==0:
    return 1
  else:
    return n *calculate_fact(n-1)

n = int(input())
print(calculate_fact(n))

7
5040

Function to reverse string

In [ ]:
def reverse_str(str1):
  result = ''
  for char in str1:
    result = str1[::-1]
  return result

s = input()
print(reverse_str(s))

1234abcd
dcba4321

Function to multiply numbers of a list

In [ ]:
def multiply(lst):
  a = 1
  for x in lst:
    a *= x
  return a

x = eval(input())
print(multiply(x))

8, 2, 3, -1, 7
-336

Function to sum numbers of a list

In [ ]:
def sum_lst(lst):
  sum = 0
  for i in lst:
    sum += i
  return sum

n = eval(input())
print(sum_lst(n))

[8, 2, 3, 0, 7]
20

Write function to get maximum number

In [ ]:
def max_of_two(x,y):
  if x > y:
    return x
  return y

def max_of_three(x,y,z):
  return max_of_two(x,max_of_two(y,z))

x = int(input())
y = int(input())
z = int(input())
print(max_of_three(x,y,z))

1
2
3
3

Number of Days

In [ ]:
month_name = input()
if month_name == "February":
  print("No.of days: 28/29 days")
elif month_name in ("April", "June", "September", "November"):
  print("No. of days: 30 days")
elif month_name in ("January", "March", "May", "July", "August", "October", "December"):
  print("No. of days: 31 days")
else:
  print("Input correct month")

April
No. of days: 30 days

Filter positives

In [ ]:
def filter_positive(lst):
  return list(filter(lambda x:x>0,lst))

x = eval(input())
print(filter_positive(x))

[34, 1, 0, -23, 12, -88]
[34, 1, 12]

Area of Circle

In [ ]:
from math import pi

def area_circle(r):
  area = pi * r**2
  return area

r = float(input())
print(area_circle(r))

1.1
3.8013271108436504

Even number or Odd number

In [ ]:
def check_even_odd(n):
  if n % 2 ==0:
    return "This an even number"
  return "This is an odd number"

n = float(input())
print(check_even_odd(n))

1
This is an odd number

Area of triangle

In [ ]:
def area_of_triangle(b,h):
  base = b
  height = h
  area = 0.5*b*h
  return area

b = float(input())
h = float(input())
print(area_of_triangle(b,h))

1.1
3
1.6500000000000001

Two integers equal or their sum or difference equals 5

In [ ]:
def test_numbers5(x,y):
  if x==y or abs(x-y)==5 or (x+y)==5:
    return True
  return False

n1 = int(input())
n2 = int(input())
print(test_numbers5(n1,n2))

10
5
True

Convert height from feet and inches to centimeters

In [ ]:
def convert_height_cm(h_inch):
  h_inch += h_ft*12
  h_cm = round(h_inch*2.54,1)
  return h_cm

h_ft = int(input())
h_inch = int(input())
print(convert_height_cm(h_inch))

5
3
160.0

Calculate Hypotenuse

In [ ]:
from math import sqrt
a = float(input())
b = float(input())
hypotenuse = sqrt(a**2 + b**2)
print(hypotenuse)

4
3
5.0

Convert seconds to day, hour, minutes and seconds

In [ ]:
time = float(input())
day = time // (24 * 3600)
time = time % (24 * 3600)
hour = time // 3600
time %= 3600
minutes = time // 60
time %= 60
seconds = time
print("d:h:m:s-> %d:%d:%d:%d" % (day, hour, minutes, seconds))

1
d:h:m:s-> 0:0:0:1

Range of 100 from 1000 or 2000

In [ ]:
def near_thousands(n):
  return ((abs(1000-n)<=100)) or ((abs(2000-n)>=100))

n = int(input())
print(near_thousands(n))

1000
True

Least Common Multiple

In [ ]:
def lcm(x,y):
  if x>y:
    z=x
  else:
    z=y
  while(True):
    if ((z%x==0) and (z%y==0)):
      lcm = z
      break
    z+=1
  return lcm

n1 = int(input())
n2 = int(input())
print(lcm(n1,n2))

4
6
12

Greatest Common Divisor of two integers

In [ ]:
def hcf(x,y):
  hcf = 1
  if x%y ==0:
    return y
  for k in range(int(y/2),0, -1):
    if x%k ==0 and y%k==0:
      hcf=k
      break
  return hcf

n1 = int(input())
n2 = int(input())
print(hcf(n1,n2))

12
4
4

Difference with 17

In [ ]:
def diff_with_17(n):
  if n<=17:
    return 17-n
  else:
    return (17-n)*2

n = int(input())
print(diff_with_17(n))

5
12

Count number of primes

In [ ]:
def count_Primes_nums(n):
    ctr = 0

    for num in range(n):
        if num <= 1:
            continue
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            ctr += 1

    return ctr

n = int(input())
print(count_Primes_nums(n))

10
4

In [ ]:
def lcm(x,y):
  if x>y:
    z=x
  else:
    z=y
  while(True):
    if ((z%x==0) and (z%y==0)):
      lcm = z
      break
    z +=1
  return lcm

n1= int(input())
n2 = int(input())
print(lcm(n1,n2))

4
6
12

In [ ]:
def hcf(x,y):
  hcf = 1
  if x%y ==0:
    return y
  for k in range(int(y/2), 0, -1):
    if (x%k==0) and (y%k==0):
      hcf = k
      break
  return hcf

n1 = int(input())
n2 = int(input())
print(hcf(n1,n2))

12
17
1

Mid point of a line

In [ ]:
x1 = float(input())
y1 = float(input())

x2 = float(input())
y2 = float(input())

x_mid = (x1+x2)/2
y_mid = (y1+y2)/2
print(x_mid,y_mid)

2
2
3
3
2.5 2.5

Swap two integers

In [ ]:
a = int(input())
b = int(input())
print(a,b)
a,b = b,a
print(a,b)

30
20
30 20
20 30

What's your BMI?

In [ ]:
weight = float(input())
height = float(input())
BMI = round(weight/(height**2),2)
print(BMI)

65
6
1.81

Add and Swap

In [ ]:
a  = input()
b = input()

new_a = b[:2] + a[2:]
new_b = a[:2] + b[2:]

print(new_a+ ' '+new_b)

code
debug
dede cobug

Fun game

In [ ]:
lst = eval(input())
n = int(input())
result = []

for i in range(1,len(lst)+1):
  if i %n==0:
    result.append(lst[i-1])
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2
[2, 4, 6, 8, 10]

Missing Values in list

In [ ]:
def missing_value(lst):
  return [x for x in range(lst[0],lst[-1]+1) if x not in lst]

k = eval(input())
print(missing_value(k))

1,6,9,7
[2, 3, 4, 5]

Create lambda function

In [ ]:
add = int(input())
mult1 = int(input())
mult2 = int(input())

r = lambda a:a+15
print("After addition:", r(add))

r = lambda x,y:x*y
print("After multiplication:",r(mult1,mult2))

10
12
4
After addition: 25
After multiplication: 48

Words with Prime Length

In [ ]:
def test(strs):
  return " ".join(strs for strs in strs.split() if is_prime(len(strs)))

def is_prime(n):
  return n>1 and all(n%j for j in range(2,int(n**0.5)+1))

strs = input()
print(test(strs))

The quick brown fox jumps over the lazy dog.
The quick brown fox jumps the

Get next date

In [ ]:
year = int(input())
month = int(input())
day = int(input())

if (year%400==0):
  leap_year = True
elif (year%100==0):
  leap_year = False
elif (year%4==0):
  leap_year = True
else:
  leap_year = False

if month in (1,3,7,8,10,12):
  month_length = 31
  if month ==2:
    if leap_year:
      month_length = 29
    else:
      month_length = 28
else:
  month_length = 30

if day < month_length:
  day +=1
else:
  day = 1
  if month ==12:
    month =1
    year +=1
  else:
    month +=1
print("The next date of [yyyy-mm-dd] %d-%d-%d."%(year,month,day))

2001
12
31
The next date of [yyyy-mm-dd] 2002-1-1.

Get triangle type from given inputs

In [ ]:
def triangle_type(x,y,z):
  if x==y==z:
    return "Equilateral Triangle"
  elif x==y or y==z or z==x:
    return "Isosceles Triangle"
  else:
    return "Scalene Triangle"

x = float(input())
y = float(input())
z = float(input())
print(triangle_type(x,y,z))

1.1
4
5
Scalene Triangle

Calculate sum and average

In [ ]:
count = 0
sum = 0.0
number = 1

while number !=0:
  number = int(input(""))
  sum = sum + number
  count +=1

if count ==0:
  print("Input some numbers")
else:
  print("Average and sum of numbers is:", sum/(count-1),sum)

5
6
9
8
9
5
3
8
9
9
3
0
Average and sum of numbers is: 6.7272727272727275 74.0

Month days

In [ ]:
month = input()

if month =="February":
  print("No. of days 28/29")
elif month in ("April", "June", "September", "November"):
  print("No. of days 30")
elif month in ("January", "March", "May", "July", "August", "October", "December"):
  print("No. of days 31")
else:
  print("Enter correct month")

January
No. of days 31

Vowel or consonant

In [ ]:
i = input()
if i in ('a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'):
  print("Vowel")
else:
  print("Consonant")

z
Consonant

Armstrong Award

In [ ]:
i=0
result=0
n = int(input())
number1 = n
temp = n
while n!=0:
    n = (n//10)
    i=i+1;
while number1!=0:
    n=number1%10
    result=result+pow(n,i)
    number1=number1//10
if temp==result:
    print("Number is Armstrong")
else:
    print("Number is not Armstrong")

153
Number is Armstrong

Print even numbers before a given number

In [ ]:
numbers = eval(input())
for x in numbers:
  if x ==237:
    break;
  elif x%2==0:
    print(x)

[386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958,743, 527]
386
462
418
344
236
566
978
328
162
758
918

Count occurrences of 4

In [ ]:
def list_count4(nums):
  count = 0
  for num in nums:
    if num ==4:
      count+=1
  return count

lst = eval(input())
print(list_count4(lst))

1,3,5,4,6,5,4
2

Sum of List Elements

In [ ]:
def sum_lst(lst):
  sum = 0
  for x in lst:
    sum +=x
  return sum

lst = eval(input())
print(sum_lst(lst))

[1,2,-8]
-5

Check index

In [ ]:
def odd_even_index(lst):
  return all(lst[i]%2==i%2 for i in range(len(lst)))

lst = eval(input())
print(odd_even_index(lst))

[2, 1, 4, 3, 6, 7, 6, 3]
True

Sum of two equals k

In [ ]:
def sum_of_two(lst,k):
  for i in range(len(lst)):
    for j in range(i+1, len(lst)):
      if lst[i] + lst[j] ==k:
        return True
  return False

lst = eval(input())
k = int(input())
print(sum_of_two(lst,k))

[12, 5, 0, 5]
10
True

Convert to list

In [ ]:
values = input()
values_list = values.split(",")
values_tuple = tuple(values_list)
print(values_list)
print(values_tuple)

3,4,5,7,8
['3', '4', '5', '7', '8']
('3', '4', '5', '7', '8')

Concatenate list elements

In [ ]:
def concatenate_list(lst):
  result = ''
  for element in lst:
    result +=str(element)
  return result

lst = eval(input())
print(concatenate_list(lst))

1,2,3,4
1234

Numbers divisible by 15

In [ ]:
n = eval(input())
result = list(filter(lambda x:(x%15==0),n))
print(result)

45,60,8,9
[45, 60]

Product of elements

In [ ]:
from functools import reduce

num = eval(input())
result = reduce(lambda x,y:(x*y),num)
print(result)

10,50,60
30000

Median of a list

In [ ]:
def median_list(lst):
  sorted(lst)
  n = len(lst)
  m = n//2
  if n%2==0:
    return (lst[m-1]+lst[m])/2
  else:
    return lst[m]

lst = eval(input())
print(median_list(lst))

1,2,3,4,5
3

List of characters to string

In [ ]:
s = eval(input())
result = "".join(s)
print(result)

['p','y','t','h','o','n']
python

Season of the year

In [ ]:
month = input()
if month in ("December", "January", "February"):
  print("The season is Winter")
elif month in ("March", "April", "May"):
  print("The season is Spring")
elif month in ("June", "July", "August"):
  print("The season is summer")
elif month in ("September", "October", "November"):
  print("The season is Autumn")
else:
  print("Invalid month")

December
The season is Winter

Biggest Even number

In [ ]:
def test(m,n):
  if m>n or (m==n and m%2==1):
    return -1
  return n if n%2==0 else n-1

m = int(input())
n = int(input())
print(test(m,n))

12
51
50

Integer greater than 4^4

In [ ]:
def test(n):
  return n%34 ==4 and n>4**4

n = int(input())
print(test(n))

922
True

Greatest divisor

In [ ]:
def test(n):
  return next(d for d in range(n-1,0,-1) if n%d==0)

n = int(input())
print(test(n))

43
1

Palindrome string

In [ ]:
def palindrome(s):
  return s == s[::-1]

s = input()
print(palindrome(s))

madam
True

Check integer

In [ ]:
text = input()
text = text.strip()
if all(text[i] in "0123456789" for i in range(len(text))):
  print("The string ia an integer")
else:
  print("The string is not an integer")

12dfgh4
The string is not an integer

Count digits and letters

In [ ]:
s = input()
d=l=0
for c in s:
  if c.isdigit():
    d+=1
  elif c.isalpha():
    l+=1
  else:
    pass

print(l)
print(d)

756787uygghgjgjhhjk
13
6

Number greater than 10 with first and last odd digit

In [ ]:
def test(nums):
  return [x for x in nums if x>10 and x%10%2 and int(str(x)[0])%2]

n = eval(input())
print(test(n))

[1, 3, 79, 10, 4, 1, 39]
[79, 39]

Extract nth elements

In [ ]:
def extract_nth_element(lst,n):
  return [x[n] for x in lst]

lst= eval(input())
n = int(input())
print(extract_nth_element(lst,n))

[('Greyson Fulton', 98, 99), ('Brady Kent', 97, 96), ('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98)]
1
[98, 97, 91, 94]

Remove kth element

In [ ]:
def remove_kth_element(lst,L):
  new_lst = [lst[i] for i in range(0,len(lst)) if i != L-1]
  return new_lst

lst = eval(input())
k = int(input())
print(remove_kth_element(lst,k))

[1,1,2,3,4,4,5,1]
3
[1, 1, 3, 4, 4, 5, 1]

Elements at specific index

In [ ]:
def element_specific_index(nums, index_lst):
  result = [nums[i] for i in index_lst]
  return result

nums = eval(input())
index = eval(input())
print(element_specific_index(nums,index))

[2,3,8,4,7,9,8,2,6,5,1,6,1,2,3,4,6,9,1,2]
[0]
[2]

Extract specified column

In [ ]:
def remove_column(nums,n):
  result= [i.pop(n) for i in nums]
  return result

nums = eval(input())
n = int(input())
print(remove_column(nums,n))

[[1, 2, 3], [2, 4, 5], [1, 1, 1]]
0
[1, 2, 1]

Remove string containing a character

In [ ]:
def remove_word(in_list,char_list):
  new_list = []
  new_list = [word for line in in_list for word in line.split() if not any([phrase in word for phrase in char_list])]
  return new_list

str_list = eval(input())
char_list = eval(input())
print(remove_word(str_list, char_list))

['Red color', 'Orange#', 'Green', 'Orange @', "White"]
['#', 'color', '@']
['Red', 'Green', 'Orange', 'White']

Difference of consecutive numbers

In [ ]:
def diff_consecutive_number(nums):
  result = [b-a for a,b in zip(nums[:-1],nums[1:])]
  return result

nums = eval(input())
print(diff_consecutive_number(nums))

[1, 1, 3, 4, 4, 5, 6, 7]
[0, 2, 1, 0, 1, 1, 1]

Cumulative sum

In [ ]:
def cumulative_sum(nums):
  result = [sum(nums[:i+1]) for i in range(len(nums))]
  return result

nums = eval(input())
print(cumulative_sum(nums))

[1, 1, 3, 4, 4, 5, 6, 7]
[1, 2, 5, 9, 13, 18, 24, 31]

Elements starting with specific character

In [ ]:
def test(lst,char):
  result = [i for i in lst if i.startswith(char)]
  return result

lst = eval(input())
char = input()
print(test(lst,char))

["abcd", "abc", "bcd", "bkie", "cder", "cdsw", "sdfsd", "dagfa", "acjd"]
a
['abcd', 'abc', 'acjd']

Pack duplicate elements

In [ ]:
from itertools import groupby

def pack_duplicates(i_nums):
  return [list(group) for key,group in groupby(i_nums)]

n = eval(input())
print(pack_duplicates(n))

[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4 ]
[[0, 0], [1], [2], [3], [4, 4], [5], [6, 6, 6], [7], [8], [9], [4, 4]]

Consecutive duplicates removal

In [ ]:
from itertools import groupby

def compress(lst):
  return [key for key,group in groupby(lst)]

lst = eval(input())
print(compress(lst))

[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4 ]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 4]

Create list using concatenation

In [ ]:
lst = eval(input())
n = int(input())
new_list = ['{}{}'.format(x,y) for y in range(1,n+1) for x in lst]
print(new_list)

['p', 'q']
5
['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

Insert string at beginning

In [ ]:
n = eval(input())
string = input()
new_list = [string + '{0}'.format(i) for i in n]
print(new_list)

1,2,3,4
emp
['emp1', 'emp2', 'emp3', 'emp4']

Accept and print the string

In [ ]:
class IOstring():
  def __init__ (self):
    self.str1 = ""

  def get_string(self):
    self.str1 = input()

  def print_string(self):
    print(self.str1.upper())

str1 = IOstring()
str1.get_string()
str1.print_string()

hello world!
HELLO WORLD!

Class to reverse a string

In [ ]:
class py_solution:
  def reverse_word(self, s):
    return ''.join(reversed(s.split()))

string = input()
print(py_solution().reverse_word(string))

hello .py
.pyhello

Modify attribute of class

In [ ]:
class Student:
    student_name = 'Terrance Morales'
    marks = 93

s_name = input()
s_marks = int(input())
print(getattr(Student, 'student_name'))
print(getattr(Student, 'marks'))
setattr(Student, 'student_name', s_name)
setattr(Student, 'marks', s_marks)
print(getattr(Student, 'student_name'))
print(getattr(Student, 'marks'))

Angel Brooks
95
Terrance Morales
93
Angel Brooks
95

Implement pow (x,n) using class

In [ ]:
class py_solution:
  def pow(self,x,n):
    if x==0 or x==1 or n==1:
      return x
    if x==-1:
      if n%2==0:
        return -1
      return 1
    if n==0:
      return 1
    if n<0:
      return 1/self.pow(x,-n)
    val = self.pow(x,n//2)
    if n%2==0:
      return val*val
    return val*val*x

n1 = int(input())
n2 = int(input())
print(py_solution().pow(n1,n2))

2
-3
0.125

retain character from string

In [ ]:
def remove_character(str1,c):
  return ''.join([el for el in str1 if el==c])

i = input()
c = input()
print(remove_character(i,c))

american express
a
aa

check a value is present

In [ ]:
def check_value(str1,value):
  return (value in str1)

s = input()
value = input()
print(check_value(s,value))

rock mountain hill
rock
True

m rows and n columns matrices

In [ ]:
def matrix(rows,cols):
  multi_list = [[0 for col in range(col_num)] for row in range(row_num)]

  for row in range(row_num):
    for col in range(col_num):
      multi_list[row][col]=row*col
  return multi_list

row_num = int(input())
col_num = int(input())
print(matrix(row_num,col_num))

4
4
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6], [0, 3, 6, 9]]

check number fall in given range

In [ ]:
def test_range(n):
  if n in range(3,19):
    print("%s is in the range"%str(n))
  else:
    print("The given number is out of range")

s = int(input())
test_range(s)

56
The given number is out of range

check whether a number is prime or not

In [ ]:
def prime_num(n):
  if n==1:
    return False
  elif n==2:
    return True;
  else:
    for x in range(2,n):
      if (n%x==0):
        return False
    return True

n = int(input())
print(prime_num(n))

9
False

program access a function inside a function

In [ ]:
def test(a):
  def add(b):
    nonlocal a
    a +=1
    return a+b
  return add

n = int(input())
func = test(n)
print(func(n))

4
9

Place value to particular index

In [ ]:
def insert_value_index(lst,index_to_place,value_to_place):
  first_part = lst[0:index_to_place]
  first_part.append(value_to_place)
  last_part = lst[index_to_place:]
  first_part.extend(last_part)
  return first_part

In [ ]:
lst = [1,2,3,5,7]
new_lst = insert_value_index(lst,2,8)
print(new_lst)

[1, 2, 8, 3, 5, 7]