<a href="https://colab.research.google.com/github/Sachinvt/Sachinvt/blob/main/Practice_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
ex = list(range(4,101,4))
sum(ex)

1300

In [4]:
my_numbers = [15,5,4,7,8,19,97]
print(f"The largest number is {sorted(my_numbers)[-1]}")
print(f"The second largest number is {(my_numbers)[-2]}")

The largest number is 97
The second largest number is 19

In [5]:
mob_num1 = '+91-456789089'
mob_num2 = '+1-567890'
print(mob_num1.split('-')[0])
print(mob_num2.split('-')[0])

+91
+1

In [1]:
message_list = ['  W','E', ' HA', 'V', 'E ', 'CRE', 'ATED ', 'HIS', 'TORY   ']
''.join(message_list).strip().title()

'We Have Created History'

In [3]:
total = 0
n = int(input())
for i in range(1, n+1):
  total+=i
print(total)

50
1275

In [5]:
num = int(input())
for i in range(1,num+1):
  if i%3==0 or i%5==0:
    print(f"Multiple of 3 or 5 between 1 and {num} is {i}")

10
Multiple of 3 or 5 between 1 and 10 is 3
Multiple of 3 or 5 between 1 and 10 is 5
Multiple of 3 or 5 between 1 and 10 is 6
Multiple of 3 or 5 between 1 and 10 is 9
Multiple of 3 or 5 between 1 and 10 is 10

In [7]:
numbers = [10, 21, 17, 97, 34, 45, 68, 73, 84]
even_numbers = []
for num in numbers:
  if num%2==0:
    even_numbers.append(num)
print(even_numbers)

[10, 34, 68, 84]

In [8]:
text = input("Ennter a text:").lower()
vowel = 'aeiou'
count = 0
for char in text:
  if char in vowel:
    count+=1
print(count)

Ennter a text:Almabetter
4

In [10]:
sentence = input("Enter a text:").lower()
word_list = sentence.split(' ')
shortest_word = word_list[0]
for word in word_list:
  if len(word)<len(shortest_word):
    shortest_word = word
    print(word)

Enter a text:python is very powerful
is

In [13]:
text = input("Enter a text:").lower()
word_list = text.split(' ')
shortest_word = word_list[0]
for word in word_list:
  if len(word) < len(shortest_word):
    shortest_word = word
print("shortest_word:", shortest_word)

Enter a text:sachin and shraddha
shortest_word: and

In [5]:
sentence = input("Enter a text:").lower()
word_list = sentence.split(' ')
shortest_word = word_list[0]
for word in word_list:
  if len(word)<len(shortest_word):
    shortest_word = word

print("shortest word:", shortest_word)

Enter a text:Python is the most famous language
shortest word: is

In [9]:
cart = [7, 15, 35, 80, 5]
total_cost = 0

for item in cart:
  if item < 10:
    total_cost+=item
  elif item<=10:
    total_cost += item*0.9
  else:
    total_cost += item*0.8

print(f"Total cost after discount: ${total_cost:.1f}")

Total cost after discount: $116.0

In [10]:
cart = [7, 15, 35, 80, 5]

total_cost = 0
for item in cart:
    if item < 10:
        total_cost += item
    elif item <= 50:
        total_cost += item * 0.9  # 10% discount
    else:
        total_cost += item * 0.8  # 20% discount

print(f"Total cost after discounts: ${total_cost:.1f}")

Total cost after discounts: $121.0

In [12]:
cart = [7, 15, 35, 80, 5]
total_cost = 0

for item in cart:
  if item<10:
    total_cost += item
  elif item <= 50:
    total_cost += item * 0.9 # for 10% discount
  else:
    total_cost += item * 0.8 # for 20% discount

print(f"Total cost after discount: ${total_cost:.1f}")

Total cost after discount: $121.0

In [14]:
lower_limit = int(input("Enter a lower limit of number(only +vs are accepted): "))
upper_limit = int(input("Enter a upper limit of number(only +vs are accepted): "))

prime_numbers = []

if lower_limit < 0 or upper_limit < 0 or (lower_limit > upper_limit):
  print("Invalid_input")
else:
  for num in range(lower_limit, upper_limit+1):
    prime_check = True
    if num == 0 or num == 1:
      prime_check = False
    else:
      for i in range(2,num):
        if num % i ==0:
          prime_check = False
          break
      if prime_check == True:
        prime_numbers.append(num)

print(f"The prime number between range {lower_limit} and {upper_limit} is {prime_numbers}")

Enter a lower limit of number(only +vs are accepted): 0
Enter a upper limit of number(only +vs are accepted): 10
The prime number between range 0 and 10 is [2, 3, 5, 7]

In [22]:
lower_limit = int(input("Enter a lower limit of number(only +vs are accepted): "))
upper_limit = int(input("Enter a upper limit of number(only +vs are accepted): "))

prime_numbers = []

if lower_limit < 0 or upper_limit < 0 or (lower_limit > upper_limit):
  print("Invalid input")
else:
  for num in range(lower_limit, upper_limit+1):
    prime_check = True
    if num ==0 or num ==1:
      prime_check = False
    else:
      for i in range(2, num):
        if num % i ==0:
          prime_check = False
          break
      if prime_check == True:
        prime_numbers.append(num)
        count = 0
        for i in prime_numbers:
          count+=1


print(f"The prime numbers of range between {lower_limit} and {upper_limit} is {prime_numbers} ")
print(f"Count of prime numbers between range {lower_limit} and {upper_limit} is {count}")

Enter a lower limit of number(only +vs are accepted): 0
Enter a upper limit of number(only +vs are accepted): 10
The prime numbers of range between 0 and 10 is [2, 3, 5, 7]
Count of prime numbers between range 0 and 10 is 4

In [24]:
lower_limit = int(input())
upper_limit = int(input())
prime_numbers = []
if lower_limit <0 or upper_limit < 0 or (lower_limit>upper_limit):
  print("Invalid Input")
else:
  for num in range(lower_limit, upper_limit+1):
    prime_check = True
    if num == 0 or num == 1:
      prime_check = False
    else:
      for i in range(2,num):
        if num % i ==0:
          prime_check = False
          break
      if prime_check==True:
        prime_numbers.append(num)
        count = 0
        sum = 0
        for i in prime_numbers:
          count+=1
          sum += i

print(f"The prime numbers between range {lower_limit} and {upper_limit} is {prime_numbers}")
print(f"The count of prime numbers between range {lower_limit} and {upper_limit} is {count}")
print(f"The sume of prime numbers betwwen {lower_limit} and {upper_limit} is {sum}")

0
10
The prime numbers between range 0 and 10 is [2, 3, 5, 7]
The count of prime numbers between range 0 and 10 is 4
The sume of prime numbers betwwen 0 and 10 is 17

In [25]:
depth = int(input())
for i in range(1,depth+1):
  print('*'*i)

4
*
**
***
****

In [30]:
depth = int(input())
for i in range(1,depth*2):
  if i <= depth:
    print('*'*i)
  else:
    print('*'*(depth*2-i))

4
*
**
***
****
***
**
*

In [33]:
depth = int(input())
for i in range(1,depth*2):
  if i <= depth:
    print('*'*i)
  else:
    print('*'*(depth*2-i))

4
*
**
***
****
***
**
*

In [34]:
depth = int(input())
for i in range(1, depth*2):
  if i <= depth:
    print('*'*i)
  else:
    print('*'*(depth*2-i))

5
*
**
***
****
*****
****
***
**
*

In [38]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'
reverse_alphabet = alphabet[::-1]
enscript_code = dict(zip(alphabet, reverse_alphabet))
message = input().lower()
message_enscript = []
for ch in message:
  if ch in alphabet:
    message_enscript.append(enscript_code[ch])
  else:
    message_enscript.append(ch)
print(f"Message: {message}, Encrypt Message: {''.join(message_enscript)}")

alma better
Message: alma better, Encrypt Message: zonz yvggvi

In [42]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'
reverse_alphabet = alphabet[::-1]
message = input().lower()
encrypt_code = dict(zip(alphabet, reverse_alphabet))
encrypt_message = []
for ch in message:
  if ch in alphabet:
    encrypt_message.append(encrypt_code[ch])
  else:
    encrypt_message.append(ch)
print(f"Message: {message}, Encrypt_message: {''.join(encrypt_message)}")

z
Message: z, Encrypt_message: a

In [43]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'
reverse_alphabet = alphabet[::-1]
encrypt_code = dict(zip(alphabet, reverse_alphabet))
message = input().lower()
encrypt_message = []
for ch in message:
  if ch in alphabet:
    encrypt_message.append(encrypt_code[ch])
  else:
    encrypt_message.append(ch)
print(f"Message: {message}, Encrypt_message: {''.join(encrypt_message)}")

alma better
Message: alma better, Encrypt_message: zonz yvggvi

In [49]:
n = int(input("Enter a number (+vs number accepted): "))

if n < 0 :
  print("Invalid Number, only +ve number is accepted")
else:
  factorial = 1
  for i in range(1, n+1):
    factorial *= i
print(factorial)

Enter a number (+vs number accepted): 5
120

In [50]:
start = int(input("Enter a number (only >10 number is accepted): "))
end = int(input("Enter a number (only >10 number is accepted): "))

if start <10 or end<10 or (start > end):
  print("Invalid Input")
else:
  armstrong_number = []
  for num in range(start, end+1):
    digit = len(str(num))
    arms_number = 0
    for i in str(num):
      arms_number += int(i)**digit
      if num == arms_number:
        armstrong_number.append(arms_number)
print(f"Armstrong Number between {start} and {end} is {armstrong_number}")

Enter a number (only >10 number is accepted): 100
Enter a number (only >10 number is accepted): 500
Armstrong Number between 100 and 500 is [153, 370, 370, 371, 407]

In [51]:
7**3

343

In [53]:
343+27

370

In [55]:
start = int(input("Enter a number (only >10 number is accepted): "))
end = int(input("Enter a number (only >10 number is accepted): "))

if start < 0 or end < 0 or start>end:
  print("Invalid Input")
else:
  armstrong_number = []
  for num in range(start, end+1):
    digit = len(str(num))
    arms_num = 0
    for i in str(num):
      arms_num += int(i)**digit
      if num == arms_num:
        armstrong_number.append(arms_num)

print(f"Armstrong number between {start} and {end} is {armstrong_number}")

Enter a number (only >10 number is accepted): 100
Enter a number (only >10 number is accepted): 600
Armstrong number between 100 and 600 is [153, 370, 370, 371, 407]

In [57]:
def calculate_production_cost(item_cost):
  total_cost = 0
  for cost in item_cost:
    total_cost += cost
  return total_cost

item_cost = [10,20,30,40,50]
total_prodcution_cost = calculate_production_cost(item_cost)
print(f"Total production cost is: {total_prodcution_cost}")

Total production cost is: 150

In [61]:
def find_defective_item(items):
  defective_item = []
  for item in items:
    if item['defective']==True:
      defective_item.append(item)
  return defective_item

item_info = [{'name': 'Product A', 'defective': False}, {'name': 'Product B', 'defective': True}]
find_defective_item(items= item_info)

[{'name': 'Product B', 'defective': True}]

In [66]:
def find_max_temp(temperatures):
    max_temp = sorted(temperatures, reverse=True)[0]
    return max_temp

temperatures = [25.5, 28.0, 24.8, 30.2, 27.3]
find_max_temp(temperatures)

30.2

In [68]:
grades = [75, 45, 90, 30, 80, 55]
passed_students = [nums for nums in grades if nums>=60]
print(passed_students)

[75, 90, 80]

In [70]:
passed_students = list(filter(lambda x: x >=60, grades))
print(passed_students)

[75, 90, 80]

In [71]:
prices = [50, 100, 150, 200]
print(list(map(lambda x: round(x*.9),prices)))

[45, 90, 135, 180]

In [74]:
salaries = [48000, 55000, 60000, 42000, 70000]
high_salary_employees = list(filter(lambda x: x>=50000, salaries))
print(high_salary_employees)

[55000, 60000, 70000]

In [80]:
words = ['apple', 'banana', 'kiwi', 'orange', 'grape']
word_length = {word:len(word) for word in words}
print(word_length)

{'apple': 5, 'banana': 6, 'kiwi': 4, 'orange': 6, 'grape': 5}

In [81]:
words = ['apple', 'banana', 'kiwi', 'orange', 'grape']
word_lengths = {word: len(word) for word in words}
print(word_lengths)

{'apple': 5, 'banana': 6, 'kiwi': 4, 'orange': 6, 'grape': 5}

In [83]:
depth = int(input())
for i in range(1,depth+1):
  print((str(i) + ' ')*i, end = '')
  print()

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [90]:
depth = int(input())
for i in range(1, depth+1):
  for j in range(1, i+1):
    print(str(j) , end = ' ')
  print()

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [97]:
depth = int(input())
for i in range(1, depth+1):
  print((str(i) + ' ')*(depth-i+1), end = '')
  print()

5
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [98]:
depth = int(input())
for i in range(1,depth+1):
  print('*'*i)

5
*
**
***
****
*****

In [6]:
def check_divisibility(num):
  # convert the num into string to iterate through each digit
  num_str = str(num)

  # Iterate through each digit and check its divisibility with number
  for digit_str in num_str:
    digit = int(digit_str)
    if digit ==0 or num % digit !=0:
      return "No"
  return "Yes"

num1 = 128
num2 = 130

print(f"Input: {num1}, Output: {check_divisibility(num1)} ")
print(f"Input: {num2}, Output: {check_divisibility(num2)}")

Input: 128, Output: Yes
Input: 130, Output: No

In [7]:
def check_divisibility(num):
  # convert num into string
  num_str = str(num)

  # Iterate through each digit to check divisibility
  for digit_str in num_str:
    digit = int(digit_str)
    if digit ==0 or num % digit != 0:
      return "No"
  return "Yes"

num1 = 128
num2 = 130

print(f"Input: {num1}, Output: {check_divisibility(num1)}")
print(f"Input: {num2}, Output: {check_divisibility(num2)}")

Input: 128, Output: Yes
Input: 130, Output: No

In [8]:
def check_divisibility(num):
  # convert num into string
  num_str = str(num)
  # Iterate through num to check divisibility
  for digit_str in num_str:
    digit = int(digit_str)
    if digit ==0 or num % digit != 0:
      return "No"
  return "Yes"

num1 = 128
num2 = 130

print(f"Input: {num1}, Output: {check_divisibility(num1)}")
print(f"Input: {num2}, Output: {check_divisibility(num2)}")

Input: 128, Output: Yes
Input: 130, Output: No

In [10]:
def count_solution(A,B):
  count = 0
  for X in range(1, A+1):
    if A % X == B:
      count+=1
  return count

# Test cases
A1, B1 = 26, 2
A2, B2 = 21, 5

output1 = count_solution(A1, B1)
output2 = count_solution(A2, B2)

print(f"Input: A={A1}, B={B1}, Output: {output1}")
print(f"Input: A={A2}, B={B2}, Output: {output2}")

Input: A=26, B=2, Output: 6
Input: A=21, B=5, Output: 2

In [31]:
def even_dividers(num):
  sum = 0
  for i in range(1,num+1):
    if i % 2==0:
      for j in range(i,i+1):
        if num % i ==0:
          sum += i
  return sum

num1 = 30
num2 = 18

output1 = even_dividers(num1)
output2 = even_dividers(num2)

print(f"Input: {num1}, Output: {output1}")
print(f"Input: {num2}, Output: {output2}")

Input: 30, Output: 48
Input: 18, Output: 26

In [34]:
def even_sum_divider(num):
  even_sum = 0
  for i in range(1,num+1):
    if num % i ==0:
      for j in range(i,i+1):
        if i % 2 ==0:
          even_sum += i
  return even_sum

num1 = 30
num2 = 18
print(even_sum_divider(num1))
print(even_sum_divider(num2))

48
26

In [3]:
def most_occuring_character(str):
  char_count = {}
  for char in str:
    char_count[char] = char_count.get(char, 0)+1
  most_occuring_char = max(char_count, key = char_count.get)
  return most_occuring_char, char_count[most_occuring_char]

str1 = "hello"
str2 = "geeksforgeeks"

output1 = most_occuring_character(str1)
output2 = most_occuring_character(str2)

print(f"Input: {str1}, Output: {output1}")
print(f"Input: {str2}, Output: {output2}")

Input: hello, Output: ('l', 2)
Input: geeksforgeeks, Output: ('e', 4)

In [6]:
def most_occuring_character(str):
  char_count = {}
  for char in str:
    char_count[char] = char_count.get(char, 0)+1
  most_occuring_char = max(char_count, key = char_count.get)
  return most_occuring_char, char_count[most_occuring_char]

d = input()
print(most_occuring_character(d))

geeksforgeeks
('e', 4)

In [7]:
def is_triangle_possible(ang1, ang2, ang3):
  if ang1 + ang2 + ang3 == 180:
    if ang1 + ang2 > ang3 and ang2 + ang3 > ang1 and ang3 + ang1 > ang2:
      return "Yes"
  return "No"

# Test cases
ang1_1, ang2_1, ang3_1 = 50, 60, 70
ang1_2, ang2_2, ang3_2 = 50, 65, 80

output1 = is_triangle_possible(ang1_1, ang2_1, ang3_1)
output2 = is_triangle_possible(ang1_2, ang2_2, ang3_2)

print(f"Input: ang1={ang1_1}, ang2={ang2_1}, ang3={ang3_1}, Output: {output1}")
print(f"Input: ang1={ang1_2}, ang2={ang2_2}, ang3={ang3_2}, Output: {output2}")

Input: ang1=50, ang2=60, ang3=70, Output: Yes
Input: ang1=50, ang2=65, ang3=80, Output: No

In [10]:
def smallest_k_digit_number(X,K):
  smallest_number = 10**(K-1)
  remainder = smallest_number % X
  if remainder != 0:
    smallest_number += X - remainder
  return smallest_number

X1, K1 = 83, 5
X2, K2 = 5, 2

output1 = smallest_k_digit_number(X1, K1)
output2 = smallest_k_digit_number(X2, K2)

print(f"Input: X={X1}, K={K1}, Output: {output1}")
print(f"Input: X={X2}, K={K2}, Output: {output2}")

Input: X=83, K=5, Output: 10043
Input: X=5, K=2, Output: 10

In [9]:
9957/83

119.96385542168674

In [29]:
def print_z_form(matrix):
  n = len(matrix)
  for i in range(n):
    print(matrix[0][i], end = " ")

  for i in range(1, n-1):
    print(matrix[i][n-1-i], end = " ")


  for i in range(n-1, -1, -1):
    print(matrix[n-1][-i-1], end = " ")

# Test cases
matrix1 = [[1, 2, 3],
           [4, 5, 6],
           [7, 8, 9]]

matrix2 = [[5, 19, 8, 7],
           [4, 1, 14, 8],
           [2, 20, 1, 9],
           [1, 2, 55, 4]]

print("Matrix 1:")
print_z_form(matrix1)

print("\n\nMatrix 2:")
print_z_form(matrix2)

Matrix 1:
1 2 3 5 7 8 9

Matrix 2:
5 19 8 7 14 20 1 2 55 4

In [30]:
def print_z_form(matrix):
  n = len(matrix)

  for i in range(n):
    print(matrix[0][i], end =" ")

  for i in range(1, n-1):
    print(matrix[i][n-1-i], end = " ")

  for i in range(n-1, -1, -1):
    print(matrix[n-1][-i-1], end = " ")


# Test cases
matrix1 = [[1, 2, 3],
           [4, 5, 6],
           [7, 8, 9]]

matrix2 = [[5, 19, 8, 7],
           [4, 1, 14, 8],
           [2, 20, 1, 9],
           [1, 2, 55, 4]]

print("Matrix 1:")
print_z_form(matrix1)

print("\n\nMatrix 2:")
print_z_form(matrix2)

Matrix 1:
1 2 3 5 7 8 9

Matrix 2:
5 19 8 7 14 20 1 2 55 4

In [34]:
def is_difference_zero(num):
  num_str = str(num)
  sum_even = 0
  sum_odd = 0

  for i in range(len(num_str)):
    digit = int(num_str[i])
    if i % 2 == 0:
      sum_even += digit
    else:
      sum_odd += digit

  return "Yes" if sum_even - sum_odd ==0 else "No"

# Test cases
num1 = 1212112
num2 = 12345

output1 = is_difference_zero(num1)
output2 = is_difference_zero(num2)

print(f"Input: {num1}, Output: {output1}")
print(f"Input: {num2}, Output: {output2}")

Input: 1212112, Output: Yes
Input: 12345, Output: No

In [37]:
def min_sum_of_factors(n):
  min_sum = n

  for i  in range(2, int(n**0.5)+1):
    if n % i ==0:
      current_sum = i + n//i
      min_sum = min(min_sum, current_sum)
  return min_sum

# Test cases
num1 = 12
num2 = 105

output1 = min_sum_of_factors(num1)
output2 = min_sum_of_factors(num2)

print(f"Input: {num1}, Output: {output1}")
print(f"Input: {num2}, Output: {output2}")

Input: 12, Output: 7
Input: 105, Output: 22

In [39]:
a  = int(input())
a = str(a)
a = a[::-1]
print(a)

45453456
65435454

In [41]:
def max_triangle_height(N):
  height = 0
  remaining_coins = N
  while remaining_coins >= height +1:
    height +=1
    remaining_coins -= height
  return height

# Test cases
N1 = 7
N2 = 12

output1 = max_triangle_height(N1)
output2 = max_triangle_height(N2)

print(f"Input: N={N1}, Output: {output1}")
print(f"Input: N={N2}, Output: {output2}")

Input: N=7, Output: 3
Input: N=12, Output: 4

In [47]:
n = int(input())
bin_str = bin(n)[2:]
print(bin_str)

3
11

In [49]:
def is_binary_palindrome(n):
  binary_str = bin(n)[2:]
  return binary_str == binary_str[::-1]

# Test cases
num1 = 9
num2 = 10

output1 = is_binary_palindrome(num1)
output2 = is_binary_palindrome(num2)

print(f"Input: {num1}, Output: {output1}")
print(f"Input: {num2}, Output: {output2}")

Input: 9, Output: True
Input: 10, Output: False

In [51]:
def count_ways_to_make_change(coins, n):
  dp = [0] * (n+1)
  dp[0] = 1
  for coin in coins:
    for i in range(coin, n+1):
      dp[i] += dp[i - coin]
  return dp[n]

# Test cases
coins1 = [1, 2, 3]
n1 = 4

coins2 = [2, 5, 3, 6]
n2 = 10

output1 = count_ways_to_make_change(coins1, n1)
output2 = count_ways_to_make_change(coins2, n2)

print(f"Coins: {coins1}, Amount: {n1}, Ways to make change: {output1}")
print(f"Coins: {coins2}, Amount: {n2}, Ways to make change: {output2}")

Coins: [1, 2, 3], Amount: 4, Ways to make change: 4
Coins: [2, 5, 3, 6], Amount: 10, Ways to make change: 5

In [53]:
def max_prime_factors(n):
  factors = []

  for i in range(2, n):
    if n % i ==0:
      factors.append(i)
  return max(factors)

# Test case
num = 6
result = max_prime_factors(num)

print(f"Input: {num}, Largest Prime Factor: {result}")

Input: 6, Largest Prime Factor: 3

In [55]:
def add_matrices(X,Y):
  if len(X) != len(Y) or len(X[0]) != len(Y[0]):
    print("The Matrices dimensions are different. Unable to add")
    return None

  result  = [[0 for _ in range(len(X[0]))] for _ in range(len(X))]

  for i in range(len(X)):
    for j in range(len(X[0])):
      result[i][j] = X[i][j] + Y[i][j]
  return result

# Test case
X = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

Y = [[9, 8, 7],
     [6, 5, 4],
     [3, 2, 1]]

result = add_matrices(X,Y)

if result is not None:
  print("Matrix X:")
  for row in X:
    print(row)

  print("\nMatrix Y:")
  for row in Y:
    print(row)

  print("\nMatrix Sum:")
  for row in result:
    print(row)

Matrix X:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

Matrix Y:
[9, 8, 7]
[6, 5, 4]
[3, 2, 1]

Matrix Sum:
[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

In [57]:
def is_symmetrical(input_str):
  n = len(input_str)
  if input_str[:n//2] == input_str[n//2:]:
    return True
  return False

def is_palindrome(input_str):
  if input_str == input_str[::-1]:
    return True
  return False

# Test cases
str1 = "khokho"
str2 = "amaama"

print("Input: ", str1)
if is_symmetrical(str1):
  print("The entered string is symmetrical")
else:
  print("The entered string is not symmetrical")
if is_palindrome(str1):
  print("The entered string is palindrome\n")
else:
  print("The enterd string is not palindrome\n")

print("Input: ", str2)
if is_symmetrical(str2):
   print("The entered string is symmetrical")
else:
  print("The entered string is not symmetrical")
if is_palindrome(str2):
  print("The entered string is palindrome")
else:
  print("The enterd string is not palindrome")

Input:  khokho
The entered string is symmetrical
The enterd string is not palindrome

Input:  amaama
The entered string is symmetrical
The entered string is palindrome

In [59]:
def calculate_values(sequence_input, C=50, H=30):
  values = [int(val) for val in sequence_input.split(',')]
  result = [int(((2*C*D)/H)**0.5) for D in values]
  return result

# Example input sequence
input_sequence = "100,150,180"

output = calculate_values(input_sequence)
print(','.join(map(str, output)))

18,22,24

In [61]:
def sorted_word(input_sequence):
  word = input_sequence.split(',')
  sorted_words = sorted(word)
  return sorted_words

# Example input sequence
input_sequence = "without,hello,bag,world"

output = sorted_word(input_sequence)
print(output)

['bag', 'hello', 'without', 'world']

In [63]:
def divisible_by_5(input_sequence):
  binary_numbers = input_sequence.split(',')
  divisible_numbers = [binary for binary in binary_numbers if int(binary, 2)%5 ==0]
  result = ','.join(divisible_numbers)
  return result

# Example input sequence
input_sequence = "0100,0011,1010,1001"

# Check and print the divisible numbers
output_result = divisible_by_5(input_sequence)
print(output_result)

1010

In [4]:
def are_all_digits_even(number):
  return all((int(digit)%2==0 for digit in str(number)))
def even_digits_numbers(start, end):
  even_digit_numbers = [str(num) for num in range(start, end+1) if are_all_digits_even(num)]
  return ','.join(even_digit_numbers)

# Find and print even digit numbers between 1000 and 3000
result = even_digits_numbers(1000, 3000)
print(result)

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

In [5]:
def calculate_letters_digits(sentence):
  letter_sum = 0
  digit_sum = 0
  for char in sentence:
    if char.isalpha():
      letter_sum += 1
    elif char.isdigit():
      digit_sum += 1
  return letter_sum , digit_sum

# Example input sentence
input_sentence = "hello world! 123"

letters, digits = calculate_letters_digits(input_sentence)
print("Letters:", letters)
print("Digits:", digits)

Letters: 10
Digits: 3

In [12]:
def calculate_upper_lower(sentence):
  num_upper = 0
  num_lower = 0
  for char in sentence:
    if char.isupper():
      num_upper += 1
    elif char.islower():
      num_lower += 1
  return num_upper, num_lower

# Example input sentence
input_sentence = "Hello world!"
upper, lower = calculate_upper_lower(input_sentence)
print("Upper:", upper)
print("Lower:", lower)

Upper: 1
Lower: 9

In [14]:
def calculate_depth_sum(depth, n):
  result = 0
  current_term = 0

  for i in range(1, depth+1):
    current_term = current_term*10+n
    result += current_term
  return result

# Example input
depth = 4
a_value = 9

# Compute and print the result
output_result = calculate_depth_sum(depth, a_value)
print(output_result)

11106

In [15]:
def compute_depth(depth, a):
  result = 0
  current_term = 0

  for i in range(1, depth+1):
    current_term = current_term*10+a
    result += current_term
  return result

# Example input
depth = 4
a_value = 9

# Compute and print the result
output_result = compute_depth(depth, a_value)
print(output_result)

11106

In [16]:
import math

def calculate_distance(movements):
  x, y = 0, 0
  for direction, steps in movements:
    if direction == "UP":
      y += steps
    elif direction == "DOWN":
      y -= steps
    elif direction == "LEFT":
      x -= steps
    elif direction == "RIGHT":
      x += steps
  distance = math.sqrt(x**2 + y**2)
  return round(distance)

# Example input
movements = [("UP", 5), ("DOWN", 3), ("LEFT", 3), ("RIGHT", 2)]

# Calculate and print the distance
output_result = calculate_distance(movements)
print(output_result)

2

In [18]:
def extract_company_name(email):
  parts = email.split('@')
  company_name = parts[1].split('.')[0]
  return company_name

email = 'sachin@tataaig.com'
print(extract_company_name(email))

tataaig

In [20]:
def sum_of_top_three_building(height):
  sorted_height = sorted(height, reverse=True)
  top_three = sorted_height[:3]
  result = sum(top_three)
  return result

n = 8
heights = []
print("Enter heights of buildings")
for i in range(n):
  height = int(input("Enter the heights of building: "))
  heights.append(height)

output = sum_of_top_three_building(heights)
print(output)

# Input the heights of eight buildings:
# 25
# 35
# 15
# 16
# 30
# 45
# 37
# 39

Enter heights of buildings
Enter the heights of building: 25
Enter the heights of building: 35
Enter the heights of building: 15
Enter the heights of building: 16
Enter the heights of building: 30
Enter the heights of building: 45
Enter the heights of building: 37
Enter the heights of building: 39
121

In [24]:
def is_right_triangle(a,b,c):
  sides = sorted([a, b ,c])
  if sides[0]**2 + sides[1]**2 == sides[2]**2:
    return "Yes"
  else:
    return "No"

sides = input("Enter three sides of triangle (three sides of triangle) comma separated: ")
side_list = [int(side) for side in sides.split()]
result = is_right_triangle(*side_list)
print(result)

Enter three sides of triangle (three sides of triangle) comma separated: 3 4 5
Yes

In [4]:
def circle_relationship(x1,y1,r1,x2,y2,r2):
  d = ((x2-x1)**2 + (y2-y1)**2)**0.5

  if d < r2-r1:
    return "C2 is in C1"
  elif d <r1-r2:
    return "C1 is in c2"
  elif d==r2-r1 or d==r1+r2:
    return "Circumference of C1 and C2 touch"
  elif d > r1+r2:
    return "C1 and C2 do not overlap"
  else:
    return "Circumference of C1 and C2 intersect"

x1,y1,r1 = map(float, input("Enter circumferecne and radii of circle C1(x y r)").split())
x2,y2,r2 = map(float, input("Enter circumfernce and raddi of cirecle C2(x y r)").split())
result = circle_relationship(x1,y1,r1,x2,y2,r2)
print(result)

Enter circumferecne and radii of circle C1(x y r)3 4 5
Enter circumfernce and raddi of cirecle C2(x y r)5 6 7
Circumference of C1 and C2 intersect

In [7]:
def analyze_text(text):
  words= [word.strip() for word in text.split() if word.isalpha()]

  word_counts = {}

  for word in words:
    if word in word_counts:
      word_counts[word] += 1
    else:
      word_counts[word] = 1

    most_common_word = max(word_counts, key = word_counts.get)
    longest_word = max(words, key = len)
    return most_common_word, longest_word

input_string = input("Input a text (only space separated):")
most_common, longest = analyze_text(input_string)
print("Most common word: ", most_common)
print("Longest word: ", longest)

Input a text (only space separated):The first word is the one that appears most often in the text
Most common word:  The
Longest word:  appears

In [10]:
def calculate_regions(n):
  return ((n*n+n+2))//2

calculate_regions(n = 5)

16

In [11]:
def text_decode(input_text):
  output_text = ''
  i = 0
  while i < len(input_text):
    if input_text[i] != '@':
      output_text += input_text[i]
      i = i+1
    else:
      output_text = input_text[i+2]*int(input_text[i+1])
      input_text = input_text[i+3:]
      i = 0
  return output_text

print(text_decode(input_text=  'XY@6Z1@4023'))
print(text_decode(input_text= '@39+1=1@30'))

000023
000

In [12]:
# Solution
def text_decode(input_text):
  output_text = ''
  i = 0
  while i < len(input_text):
    if input_text[i] != '@':
      output_text += input_text[i]
      i = i + 1
    else:
      output_text += input_text[ i + 2] * int(input_text[i+ 1])
      input_text = input_text[i+3:] # Slice the input_text
      i = 0 # Restart the index
  return output_text


print(text_decode(input_text = 'XY@6Z1@4023' ))
print(text_decode(input_text = '@39+1=1@30' ))

XYZZZZZZ1000023
999+1=1000

In [13]:
def text_decode(input_text):
  output_text = ''
  i = 0

  while i < len(input_text):
    if input_text[i] != '@':
      output_text += input_text[i]
      i = i + 1
    else:
      output_text += input_text[i + 2] * int(input_text[i + 1])
      input_text = input_text[i+3:]
      i = 0
  return output_text

print(text_decode(input_text = 'XY@6Z1@4023' ))
print(text_decode(input_text = '@39+1=1@30' ))

XYZZZZZZ1000023
999+1=1000

In [18]:
def longest_common_prefix(strings):
  if not strings:
    return False

  common_prefix = strings[0]

  for string in strings[1:]:
    i = 0
    while i < len(common_prefix) and i < len(string) and common_prefix[i] == string[i]:
      i += 1

    common_prefix = common_prefix[:i]
  return common_prefix

# Sample input
input_strings = [
    ["abcdefgh", "abcefgh"],
    ["w3r", "w3resource"],
    ["Python", "PHP", "Perl"],
    ["Python", "PHP", "Java"]
]

for string in input_strings:
  common_prefix = longest_common_prefix(string)
  print(common_prefix if common_prefix else "False")

abc
w3r
P
False

In [16]:
import cmath
z = input()
z = complex(z)
r = abs(z)
phi = cmath.phase(z)
print(r)
print(phi)

1+2j
2.23606797749979
1.1071487177940904

In [17]:
n = int(input())
x = 0
y = 1
z = 0
while (z < n):
  print(z)
  x = y
  y = z
  z = x+y

10
0
1
1
2
3
5
8

In [19]:
def find_additional_id(array1, array2):
    # Convert the arrays to sets for efficient operations
    set1 = set(array1)
    set2 = set(array2)

    # Find the additional ID by performing set difference
    additional_id = set2 - set1

    return additional_id

# Input
array1 = list(map(int, input().split()))
array2 = list(map(int, input().split()))

# Find the additional ID
additional_id = find_additional_id(array1, array2)

# Output
print("Additional ID:", *additional_id)

1 4 7 3
1 2 3 4 5 6 7
Additional ID: 2 5 6

In [21]:
def numeric_to_alphabetic(barcode):
    # Dictionary mapping each digit to its corresponding alphabetic character
    digit_to_alpha = {
        '0': 'a', '1': 'b', '2': 'c', '3': 'd', '4': 'e',
        '5': 'f', '6': 'g', '7': 'h', '8': 'i', '9': 'j'
    }

    # Convert the numeric barcode to a string
    barcode_str = str(barcode)

    # Convert each digit to its corresponding alphabetic character
    alphabetic_code = ''.join(digit_to_alpha[digit] for digit in barcode_str)

    return alphabetic_code

# Input
barcode = int(input())

# Find the alphabetic product code
alphabetic_code = numeric_to_alphabetic(barcode)

# Output
print("Alphabetic Product Code:", alphabetic_code)

12403
Alphabetic Product Code: bcead

In [23]:
def numeric_to_alphabetic(barcode):
  digit_to_alpha = {'0':'a', '1': 'b', '2': 'c', '3': 'd', '4': 'e', '5': 'f', '6': 'g', '7': 'h', '8':'i', '9':'j'}
  barcode_str = str(barcode)
  return ''.join(digit_to_alpha[digit] for digit in barcode_str)

barcode = int(input())
print(numeric_to_alphabetic(barcode))

12403
bcead

In [25]:
def find_additional_id(array1, array2):
  set1 = set(array1)
  set2 = set(array2)
  additional_id = set2- set1
  return additional_id

array1 = list(map(int, input().split()))
array2 = list(map(int, input().split()))
additional_id = find_additional_id(array1, array2)
print(*additional_id)

1 4 7 3
1 2 3 4 5 6 7
2 5 6

In [28]:
def count_difference_char(S,T):
  count = 0
  for i in range(len(S)):
    if S[i] != T[i]:
      count += 1
  return count

s = input().strip()
t = input().strip()
result = count_difference_char(s,t)
print(result)

doselect
doseeesd
3

In [30]:
def solution(S,T):
  count = 0
  for i in range(len(S)):
    if S[i] != T[i]:
      count += 1
  return count

if __name__ == '__main__':
  S = input()

  T = input()

  result = solution(S,T)

  print(str(result))

doselect
doseeesd
3

In [33]:
def find_first_non_repeated_char(s):
  char_count = {}

  for char in s:
    char_count[char] = char_count.get(char, 0)+1

  for char in s:
    if char_count[char]==1:
      return char
  return "not found"

s = input().strip()
result = find_first_non_repeated_char(s)
print(result)

aabbcc
not found

In [36]:
def mul(A,B):
  A = int(A)
  B = int(B)
  C = A*B
  return str(C)

A = input().strip()
B = input().strip()
result  = mul(A,B)
print(result)

5
5
25

In [40]:
def reverse_number(num):
    reversed_num = ''
    num_str = str(num)
    reversed_num = num_str[::-1]
    return reversed_num

# Input
num = int(input().strip())

# Reverse the number
reversed_num = reverse_number(num)

# Output
print(reversed_num)

3456789
9876543

In [44]:
def reversed_number(num):
  reversed_num = ''
  num_str = str(num)
  reversed_num = num_str[::-1]
  return reversed_num

n = int(input())
result = reversed_number(n)
print(result)

534750
057435

In [48]:
import re

def find_n_lettered_words(sentence, n):
    # Check if the sentence contains at least three words
    words = sentence.split()
    if len(words) < 3:
        print("Too Less Number of Words Entered")
        return

    # Use regular expression to find words with length n
    pattern = r'\b\w{%d}\b' % n
    n_lettered_words = re.findall(pattern, sentence)

    # Print the found words
    for word in n_lettered_words:
        print(word)

# Input
sentence = input().strip()
n = int(input().strip())

# Find and print N-lettered words
find_n_lettered_words(sentence, n)

are you
4
Too Less Number of Words Entered

In [52]:
import re
def find_n_lettered_word(sentence, n):
  word = sentence.split()
  if len(word) < 3:
    print("Too less number of word entered")
    return

  pattern = r'\b\w{%d}\b'%n
  n_lettered_word = re.findall(pattern, sentence)

  for word in n_lettered_word:
    print(word)

sentence = input().strip()
n = int(input().strip())
result = find_n_lettered_word(sentence, n)

The quick brown fox jumps over the lazy dog
3
The
fox
the
dog

In [53]:
import re

def find_n_lettered_sentence(sentence, n):
  word = sentence.split()
  if len(word) < 3:
    print("Too less number of word entered")
    return

  pattern = r'\b\w{%d}\b'%n
  n_lettered_word = re.findall(pattern, sentence)

  for word in n_lettered_word:
    print(word)

sentence = input().strip()
n = int(input().strip())
find_n_lettered_sentence(sentence, n)

The quick brown fox jumps over the lazy dog
3
The
fox
the
dog

In [56]:
import re

def find_n_lettered_word(sentence, n):
  word = sentence.split()
  if len(word) < 3:
    print("Too less numbers letter is Entered")
    return

  pattern = r'\b\w{%d}\b'%n
  n_lettered_word = re.findall(pattern,sentence)

  for word in n_lettered_word:
    print(word)

sentence = input().strip()
n = int(input().strip())
find_n_lettered_word(sentence, n)

are you
4
Too less numbers letter is Entered

In [57]:
import pandas as pd
import numpy as np

# Step 1: Parse input into a list of integers
input_list = list(map(int, input().split()))

# Step 2: Create Pandas Series
series = pd.Series(input_list)

# Step 3: Calculate difference between consecutive elements
diff_series = series.diff()

# Step 4: Calculate difference of the difference
diff_of_diff_series = diff_series.diff()

# Print the results
print(diff_series.tolist())
print(diff_of_diff_series.tolist())

2 4 6 8 10 12 14 16
[nan, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0]
[nan, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [59]:
import pandas as pd
import numpy as np
input_list = list(map(int, input().split()))

series = pd.Series(input_list)

diff_series = series.diff()

diff_of_diff_series = diff_series.diff()

print(diff_series.tolist())
print(diff_of_diff_series.tolist())

2 4 6 8 10 12 14 16
[nan, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0]
[nan, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [2]:
def max_profit(prices):
  if len(prices) < 2:
    return 0

  max_profit = 0
  min_price = prices[0]

  for price in prices:
    max_profit = max(max_profit, price-min_price)
    min_price = min(min_price, price)
  return max_profit

# Example input
stock_prices = [224, 236, 247, 258, 259, 225]

# Calculate and print the maximum profit
output_result = max_profit(stock_prices)
print("Output:", output_result)

Output: 35

In [6]:
def max_product_three(nums):
  nums.sort()
  return max(nums[0]*nums[1]*nums[-1], nums[-3]*nums[-2]*nums[-1])

# Sample input
input_lists = [
    [-10, -20, 20, 1],
    [-1, -1, 4, 2, 1],
    [1, 2, 3, 4, 5, 6]
]

for nums in input_lists:
  result = max_product_three(nums)
  print("Output:", result)

Output: 4000
Output: 8
Output: 120

In [9]:
def count_negatives_sum_positives(nums):
  count_negatives = len([num for num in nums if num < 0])
  sum_positives = sum([num for num in nums if num > 0])
  return [count_negatives, sum_positives]

# Sample input
input_lists = [
    [1, 2, 3, 4, 5],
    [-1, -2, -3, -4, -5],
    [1, 2, 3, -4, -5],
    [1, 2, -3, -4, -5]
]

for nums in input_lists:
  result = count_negatives_sum_positives(nums)
  print(result)

[0, 15]
[5, 0]
[2, 6]
[3, 3]

In [10]:
def has_increasing_trend(sequence):
  return all(sequence[i] < sequence[i+1] for i in range(len(sequence)-1))

# Sample input
input_sequences = [
    [1, 2, 3, 4],
    [1, 2, 5, 3, 4],
    [-1, -2, -3, -4],
    [-4, -3, -2, -1],
    [1, 2, 3, 4, 0]
]

for sequence in input_sequences:
  result = has_increasing_trend(sequence)
  print(result)

True
False
False
True
False

In [12]:
def are_lines_parallel(line1, line2):
  return line1[0] * line1[1] == line2[0] * line2[1]

# Sample input
input_lines = [
    ([2, 3, 4], [2, 3, 8]),
    ([2, 3, 4], [4, -3, 8])
]

for lines in input_lines:
  result = are_lines_parallel(*lines)
  print(result)

True
False

In [17]:
def reversed_odd_word(sentence):
  words = sentence.split()
  return ' '.join([word[::-1] if len(word)%2!=0 else word for word in words ])

# Sample input
input_sentences = [
    "The quick brown fox jumps over the lazy dog",
    "Python Exercises"
]

for words in input_sentences:
  result = reversed_odd_word(words)
  print(result)

ehT kciuq nworb xof spmuj over eht lazy god
Python sesicrexE

In [20]:
depth = int(input())
for i in range(1, depth+1):
  for j in range(i-1,-1,-1):
    print(2**(j), end = ' ')
  print()

8
1
2 1
4 2 1
8 4 2 1
16 8 4 2 1
32 16 8 4 2 1
64 32 16 8 4 2 1
128 64 32 16 8 4 2 1

In [21]:
def string_pairs(s):
  if not s:
    return []

  pairs = [s[i:i+2] for i in range(0, len(s), 2)]

  if len(s) % 2 != 0:
    pairs[-1] += '*'
  return pairs

print(string_pairs('mubashir'))
print(string_pairs('edabit'))
print(string_pairs('airforces'))

['mu', 'ba', 'sh', 'ir']
['ed', 'ab', 'it']
['ai', 'rf', 'or', 'ce', 's*']

In [23]:
def card_hide(card_number):
  return '*'*(len(card_number)-4)+(card_number[-4:])
# Examples
print(card_hide("1234123456785678"))
print(card_hide("8754456321113213"))
print(card_hide("35123413355523"))

************5678
************3213
**********5523

In [24]:
def dna_to_rna(dna_strand):
  transcription_dict = {'A':'U', 'T':'A', 'G':'C', 'C':'G'}
  return ''.join([transcription_dict[base] for base in dna_strand])

# Examples
print(dna_to_rna("ATTAGCGCGATATACGCGTAC"))  # "UAAUCGCGCUAUAUGCGCAUG"
print(dna_to_rna("CGATATA"))               # "GCUAUAU"
print(dna_to_rna("GTCATACGACGTA"))         # "CAGUAUGCUGCAU"

UAAUCGCGCUAUAUGCGCAUG
GCUAUAU
CAGUAUGCUGCAU

In [26]:
def loves_me(petals):
  phrases = ["Loves me" if i % 2 ==0 else "Loves me not" for i in range(petals-1)]
  last_phrase = "LOVES ME" if petals % 2 == 1 else "LOVES ME NOT"
  return ', '.join(phrases + [last_phrase])

# Examples
print(loves_me(3))  # "Loves me, Loves me not, LOVES ME"
print(loves_me(6))  # "Loves me, Loves me not, Loves me, Loves me not, Loves me, LOVES ME NOT"
print(loves_me(1))  # "LOVES ME"

Loves me, Loves me not, LOVES ME
Loves me, Loves me not, Loves me, Loves me not, Loves me, LOVES ME NOT
LOVES ME

In [28]:
def to_binary(hex_number):
  binary_number = bin(int(hex_number,16))[2:]
  return binary_number
# Examples
print(to_binary("FF"))  # "11111111"
print(to_binary("AA"))  # "10101010"
print(to_binary("FA"))  # "11111010"

11111111
10101010
11111010

In [29]:
def closest_number(lst,K):
  closest = min(lst, key = lambda x: abs(x-K))
  return closest

# Examples
lst1, K1 = [3.64, 5.2, 9.42, 9.35, 8.5, 8], 9.1
print(closest_number(lst1, K1))  # Output: 9.35

lst2, K2 = [9, 11, 5, 3, 25, 18], 6
print(closest_number(lst2, K2))  # Output: 5

9.35
5

In [30]:
def is_sastry(n):
  concatenated = int(str(n)+str(n+1))
  square_root = int(concatenated**0.5)
  return square_root**2 == concatenated

# Examples
print(is_sastry(183))     # True
print(is_sastry(184))     # False
print(is_sastry(106755))  # True

True
False
True

In [31]:
import string
alphabet = string.ascii_lowercase
def is_pangram(s):
    return set(alphabet) < set(s.lower())
if __name__ == "__main__":
    if is_pangram(input().strip()):
        print("pangram")
    else:
        print("not pangram")

We promptly judged antique ivory buckles for the next prize
pangram

In [2]:
import string

def is_pangram(str):
  alphabet = 'abcdefghijklmnopqrstuvwxyz'
  for char in alphabet:
    if char not in str.lower():
      return False
  return True

string = 'the quick brown fox jumps over the lazy dog'
if (is_pangram(string)==True):
  print("Yes")
else:
  print("No")

Yes

In [3]:
import string

def ispangram(str):
  alphabet = 'abcdefghijklmnopqrstuvwxyz'
  for char in alphabet:
    if char not in str.lower():
      return False
  return True

string = 'the quick brown fox jumps over the lazy dog'
if (ispangram(string)==True):
  print("Yes")
else:
  print("No")

Yes

In [4]:
def neutralise(s1,s2):
  result = ''
  for char1, char2 in zip(s1,s2):
    if char1 == char2:
      result += char1
    else:
      result += '0'
  return result

# Examples
print(neutralise("+-+", "+--"))        # Output: "+-0"
print(neutralise("--++--", "++--++"))  # Output: "000000"
print(neutralise("-+-+-+", "-+-+-+"))  # Output: "-+-+-+"
print(neutralise("-++-", "-+-+"))       # Output: "-+00"

+-0
000000
-+-+-+
-+00

In [5]:
def digit_distance(num1,num2):
  distance = sum(abs(int(digit1)-int(digit2)) for digit1,digit2 in zip(str(num1), str(num2)))
  return distance

# Examples
print(digit_distance(121, 599))  # Output: 19
print(digit_distance(12, 12))    # Output: 0
print(digit_distance(10, 20))    # Output: 1

19
0
1

In [7]:
def progress_days(miles_run):
  progress_count = sum(miles_run[i]>miles_run[i-1] for i in range(1,len(miles_run)))
  return progress_count

# Examples
print(progress_days([3, 4, 1, 2]))      # Output: 2
print(progress_days([10, 11, 12, 9, 10]))  # Output: 3
print(progress_days([6, 5, 4, 3, 2, 9]))   # Output: 1
print(progress_days([9, 9]))               # Output: 0

2
3
1
0