<a href="https://colab.research.google.com/github/Sachinvt/Sachinvt/blob/main/python%20coding%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

You are given two strings word1 and word2. Merge the strings by adding letters in alternating order, starting with word1. If a string is longer than the other, append the additional letters onto the end of the merged string.

Return the merged string.

Example:

Input: "abc", word2 = "pqr"

Output: "apbqcr"

Explanation: The merged string will be merged as so:

word1: a b C

word2: P q r

merged: a p b q c r

In [5]:

def mergeStrings(word1, word2):
    result = ''
    i, j = 0, 0

    while i < len(word1) and j < len(word2):
        result += word1[i] + word2[j]
        i += 1
        j += 1

    # Append the remaining characters from word1, if any
    while i < len(word1):
        result += word1[i]
        i += 1

    # Append the remaining characters from word2, if any
    while j < len(word2):
        result += word2[j]
        j += 1

    return result

# Test the function
word1 = "abc"
word2 = "pqr"
print(mergeStrings(word1, word2))  # Output: "apbqcr"

apbqcr

Write a program in python to print the following pattern for the given N number of rows.

INPUT:

4

OUTPUT:

A

BC

CDE

DEFG

In [6]:

def print_pattern(rows):
    start_char = 'A'

    for i in range(rows):
        for j in range(i + 1):
            print(chr(ord(start_char) + j), end='')
        print()
        start_char = chr(ord(start_char) + 1)

# Test the function
rows = 4
print_pattern(rows)

A
BC
CDE
DEFG

Write a program in python to print the following pattern for the given N number of rows.

INPUT:

4

OUTPUT:

ABCD

ABCD

ABCD

ABCD

In [7]:

def print_pattern(rows):
    for i in range(rows):
        for j in range(ord('A'), ord('A') + rows):
            print(chr(j), end="")
        print()

# Test the function
rows = 4
print_pattern(rows)

ABCD
ABCD
ABCD
ABCD

Write a program in python to print the following pattern for the given N number of rows.

INPUT:

4

OUTPUT:

4444

333

22

1

In [8]:

def print_pattern(rows):
    for i in range(rows, 0, -1):
        for j in range(i):
            print(i, end="")
        print()

# Test the function
rows = 4
print_pattern(rows)

4444
333
22
1

Write a Python program to get the single digits in numbers sorted backwards and converted to English words.

INPUT:

[1, 3, 4, 5,11]

OUTPUT:

[five, 'four', 'three', one']

In [9]:

def digit_to_word(digit):
    word_dict = {
        0: 'zero', 1: 'one', 2: 'two', 3: 'three', 4: 'four',
        5: 'five', 6: 'six', 7: 'seven', 8: 'eight', 9: 'nine'
    }
    return word_dict[digit]

def digits_to_words(numbers):
    # Sort the digits in reverse order
    sorted_digits = sorted(numbers, reverse=True)
    # Convert sorted digits to English words
    words = [digit_to_word(digit) for digit in sorted_digits if 0 <= digit <= 9]
    return words

# Test the function
numbers = [1, 3, 4, 5, 11]
print(digits_to_words(numbers))

['five', 'four', 'three', 'one']

There are n buildings in a line. You are given an integer array heights of size n that represents the heights of the buildings in the line.

The ocean is to the right of the buildings. A building has an ocean view if the building can see the ocean without obstructions. Formally, a building has an ocean view if all the buildings to its right have a smaller height.

Write a python program to return a list of indices (0- indexed) of buildings that have an ocean view, sorted in increasing order.

INPUT:

[4,2,3,1]

OUTPUT

[0,2,3]

In [10]:

def find_buildings_with_ocean_view(heights):
    ocean_view_indices = []
    max_height = float('-inf')  # Initialize max height as negative infinity

    # Iterate through the buildings from right to left
    for i in range(len(heights) - 1, -1, -1):
        if heights[i] > max_height:
            ocean_view_indices.append(i)
            max_height = heights[i]  # Update max height

    # Reverse the list of indices to get the correct order
    return ocean_view_indices[::-1]

# Test the function
heights = [4, 2, 3, 1]
print(find_buildings_with_ocean_view(heights))

[0, 2, 3]

Write a program in python to print the following pattern for the given N number of rows.

INPUT:

4

OUTPUT:
•000•000•
0•00•00•0
00•0•0•00
000•••000

In [4]:

def print_pattern(n):
    for i in range(n):
        for j in range(n * 2 + 1):
            if j == i or j == n or j == n * 2 - i - 1:
                print("•", end="")
            else:
                print("0", end="")
        print()

# Test the function
n = 4
print_pattern(n)

•000•00•0
0•00•0•00
00•0••000
000••0000

Diamond stars pattern

In [3]:

def print_diamond_pattern(n):
    # Upper half of the diamond
    for i in range(n):
        print(" " * (n - i - 1) + "*" * (2 * i + 1))

    # Lower half of the diamond
    for i in range(n - 2, -1, -1):
        print(" " * (n - i - 1) + "*" * (2 * i + 1))

# Test the function
n = 5
print_diamond_pattern(n)

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *